<footer class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided equal height grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Brobotic</h4>
        <div class="ui inverted link list">
          <a href="/about.html" class="item">About Us</a>
          <a href="/team.html" class="item">Team</a>
          <a href="/philosophy.html" class="item">Philosophy</a>
          <a href="/legal.html" class="item">Legal Notices</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Klobbe</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Game Page</a>
          <a href="#" class="item">Download for iOS</a>
          <a href="#" class="item">Download for Android</a>
          <a href="#" class="item">Download on Steam</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Group 3</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div>
      <div class="seven wide left aligned column">
        <h4 class="ui inverted header">Brobotic Studios</h4>
        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        <p>{% include _copyright.html %}</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <img src="https://branding.brobotic.com/images/brobotic/logo-lettermark-64.png" class="ui centered mini image">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="/">Home</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="/terms.html">Terms and Conditions</a>
      <a class="item" href="/privacy.html">Privacy Policy</a>
    </div>
  </div>
</footer>
