<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    {% include _navbar_links.html %}
    <div class="right menu">
      <div class="item">
        <a href="https://brobotic.com/"><img src="https://branding.brobotic.com/images/brobotic/logo-lettermark-64.png" class="ui mini image" alt="Brobotic B Logo"></a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="item" href="https://brobotic.com/">Home</a>
  {% include _navbar_links.html %}
</div>
