<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_tags.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="pusher">
      <header class="ui inverted vertical center aligned segment">
        {% include header_navbar.html %}
        <div class="ui text container">
          <h1 class="ui inverted header">{{ page.title }}</h1>
          <h2>{{ page.tagline }}</h2>
        </div>
      </header>
      {{ content }}
      {% include footer.html %}
    </div>
    {% include global_scripts.html %}
  </body>
</html>
